{% extends "base.html" %} {% load crispy_forms_tags %} {% block title_block %}
Change Password {%endblock%} {%block body_block%}
<div class="parent">
  <div class="inner-image">
    <h3>Change password</h3>
    <form method="POST">
      {% csrf_token %} {{form|crispy}}
      <button type="button" id="togglePassword">
        <i class="fa-solid fa-eye"></i>
      </button>
      <button type="submit" class="btn btn-primary w-100">Change</button>
    </form>
  </div>
  <img src="/media/lock.jpg" />
  <a
    class="btn btn-info"
    style="position: fixed; top: 10px; right: 10px"
    href="{%url 'App_House:insideHouse'%}"
    >Go to house</a
  >
</div>
{%endblock%}
