<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style></style>
    <title>Project Details</title>
  </head>
  <body>
    <div
      class="text-light w-100 h-100 d-flex flex-column align-items-center pt-4 pb-4"
      style="overflow: auto"
    >
        <div class="d-flex flex-column align-items-center border p-4">
            <h1>Project Details</h1>
            <h3 style="text-align: center;">Project Name: House Security System</h3>
            <h3 style="text-align: center;">Subject Name: Project Work - I</h3>
            <h3>Semester: 5th</h3>
            <h3>Shift: 2nd</h3>
            <h3>Session: 21-22</h3>
        </div>

      <h4 class="mt-4 border-bottom">Project Members</h4>

      <table class="table m-3" style="width: 90%">
        <thead>
          <tr>
            <th scope="col">Roll</th>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>616373</td>
            <td>Name</td>
          </tr>
          <tr>
            <td>616362</td>
            <td>Name</td>
          </tr>
          <tr>
            <td>616388</td>
            <td>Name</td>
          </tr>
          <tr>
            <td>616395</td>
            <td>Name</td>
          </tr>
          <tr>
            <td>616402</td>
            <td>Md Abdus Sabur</td>
          </tr>
          <tr>
            <td>616403</td>
            <td>Name</td>
          </tr>
          <tr>
            <td>616404</td>
            <td>Name</td>
          </tr>
          <tr>
            <td>515409</td>
            <td>Name</td>
          </tr>
          <tr>
            <td>639173</td>
            <td>Name</td>
          </tr>
          <tr>
            <td>676962</td>
            <td>Name</td>
          </tr>
        </tbody>
      </table>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
